---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {{ post.excerpt }}
        Read <a class="post-full-link" href="{{ post.url | prepend: site.baseurl }}">full post</a>.
      </li>
    {% endfor %}
  </ul>
</div>


<H2> For reference: Random 8-measure Bach chorales from validation set.</H2>
<H4><em><b>NOT from coconet!!</b></em></H4>
{% for i in (0..1) %}
<audio controls> == $0
  <source src="audio/o_{{ i }}.mp3" type="audio/mp3">
  "Your brower does not support the audio element."
</audio>
{% endfor %}
<br \>

<H2> For ease of comparison, we are embedding samples from related work below. </H2> 
<br \>
<H3>Harmonization samples from <a href="http://www.flow-machines.com/deepbach-polyphonic-music-generation-bach-chorales/">DeepBach</a></H3>
The melody is from the "Wer nur den lieben Gott läßt walten" (He who allows dear God to rule him), a 1641 hymn by Georg Neumark.
The harmonization is by DeepBach and the recording is performed by Emmanuel Deruty.
<iframe width="560" height="315" src="https://www.youtube.com/embed/QiBM7-5hA6o?ecver=1" frameborder="0" allowfullscreen></iframe>
<br \>
Two harmonizations of a different melody, "God Save the Queen."
<iframe width="560" height="315" src="https://www.youtube.com/embed/lnUQ6Z9H1h0?ecver=1" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/x-W0ixD9Cpg?ecver=1" frameborder="0" allowfullscreen></iframe>
